<form action="POST" #chInputForm="ngForm" (ngSubmit)="onSubmit()" class="row border border-dark rounded justify-content-center">

  <div class="form-group col-12 col-md-4">
    <label for="ch-name">Channel Name</label>
    <input class="form-control" type="text" name="ch-name" id="ch-name" placeholder="Enter the channel name"
      [(ngModel)]="channel.name" #chname2="ngModel" required>
    <div class="alert alert-danger" [hidden]="chname2.valid || chname2.pristine">
      Channel Name invalid
    </div>
  </div>

  <div class="form-group col-12 col-md-4">
    <label for="ch-name">Unique Channel Name</label>
    <input class="form-control" type="text" name="uch-name" id="uch-name" placeholder="Enter the unique channel name"
      [(ngModel)]="channel.uname" #uchname2="ngModel" required>
    <div class="alert alert-danger" [hidden]="uchname2.valid || uchname2.pristine">
      Unique Channel Name invalid
    </div>
  </div>

  <div class="form-group col-12 col-md-2 align-self-center">
    <button type="submit" [disabled]="!chInputForm.form.valid" class="btn btn-dark"> Add Channel</button>
  </div>

</form>