<div class="row justify-content-end btn-login">
  <div class="col-3 col-md-1">
    <br>
    <button (click)="goToLoginPage()" class="btn btn-danger">{{adminState}}</button>
  </div>
</div>
<div class="w-100"></div>
<br>
<app-channel-cards></app-channel-cards>
