<div [hidden]="!isLogged" class="row justify-content-end">
  <button style="margin: 1% 5%;" class="btn btn-danger" (click)="logout()">Logout</button>
</div>
<!--Login Frame-->
<div class="container">
  
  <h3> Channel : {{channelService.channel.name}} </h3>
  <div class="row login justify-content-center" [hidden]="isLogged">
    <div class="col-10 col-md-8 col-lg-6">
      <br>
      <form class="form-section border border-primary rounded" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h5 class="text-primary">Please enter your username to register it</h5>
        <div class="form-group">
          <label for="email">Username</label>
          <input type="text" name="username" id="username" class="form-control" [(ngModel)]="username"
            #usernameIn="ngModel" required placeholder="Enter username">
          <div class="alert alert-danger" [hidden]="usernameIn.valid || usernameIn.pristine">
            Invalid username
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="alert alert-danger" [hidden]="!isError">
        {{err.error.message}}. Try again.
      </div>
    </div>
  </div>
  <!--Chat Frame-->
  <div class="row justify-content-center contenedor " [hidden]="!isLogged">
    <div class="col-10 col-md-8 col-lg-8 border border-rounded border-dark msgs-sec" id="contenedor-msg">
      <!--Msgs body-->
      <div class="row" *ngFor="let msg of messages; let i=index">
        <div class="col-12 ">
          <div class="card">
            <div class="card-body">
              <p *ngIf="user.name == msg.from" class="card-title font-weight-bold border bg-dark text-white">Me :
                {{msg.from}}</p>
              <p *ngIf="user.name != msg.from" class="card-title font-weight-bold border">Other: {{msg.from}}</p>
              <p class="l-smaller card-text font-weight-light font-italic bg-primary text-white">{{msg.created}}</p>
              <p class="card-text border"> {{msg.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-8 col-lg-8">
      <div class="row align-items-center">
        <div class="msg-box col-8 col-md-10 col-lg-10">
          <textarea [(ngModel)]="message" name="msg" id="msg" rows="1"></textarea>
        </div>
        <div class="col-auto">
          <button (click)="sendMsg()" [disabled]="message.length == 0" class="btn btn-primary"><i
              class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>

    <div class="col-10 col-md-8 col-lg-8 ">
      <h5 *ngIf="showMembers" (click)="this.showMembers = !this.showMembers">Members -</h5>
      <h5 *ngIf="!showMembers" (click)="this.showMembers = !this.showMembers">Members +</h5>

      <ul class="list-group contacts" [hidden]="!showMembers">

        <div *ngFor="let member of members">
          <li *ngIf="user.name == member.name" class="list-group-item bg-primary text-white">
            {{member.name}}
          </li>
          <li *ngIf="member.name != user.name" class="list-group-item">
            {{member.name}}
          </li>
        </div>

      </ul>
    </div>
  </div>
</div>