.form-section{
    padding: 5% 6%;
    margin-top: 30%;
}

.contenedor{
    margin-top: 5%;
    height: 100%;
}

.container{
    height: 70vh;
}

.msg-box{
    margin: 1% 0%;
}

#msg{
    width: 100%;
}

#contenedor-msg{
    height: 70%;
}

.msgs-sec{
    overflow:scroll
}

p{
    margin: 0%;
    padding: 0px 5px;
}
.l-smaller{
    font-size: 14px;
}

.contacts{
    margin: 2% 0%;
    height: 150px;
    overflow:scroll
}