<div class="container">
  <div class="row justify-content-end btn-login">
    <div class="col-3 col-md-1">
      <br>
      <button (click)="goToHomePage()" class="btn btn-danger">Logout</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-admin-addservice></app-admin-addservice>
    </div>
  </div>
  <div class="row-100"></div>
  <div class="row">
    <div class="col-12">
      <h1>Channels</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-admin-chtable></app-admin-chtable>
    </div>
  </div>

</div>