<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th class="w-5" scope="col">SID</th>
        <th scope="col">Unique Name</th>
        <th scope="col">Friendly Name</th>
        <th scope="col">Members Count</th>
        <th scope="col">Functions Channel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let channel of adminConsoleService.channels; let i=index">
        <td class="w-5" scope="row">{{adminConsoleService.channels[i].sid}}</td>
        <td><input type="text" name="uname" id="uname" [(ngModel)]="adminConsoleService.channels[i].uname"></td>
        <td> <input type="text" name="name" id="name" [(ngModel)]="adminConsoleService.channels[i].name"> </td>
        <td> {{adminConsoleService.channels[i].members}} </td>
        <td>
          <button class="btn btn-danger" (click)="deleteChannel(adminConsoleService.channels[i], i)"><i
              class="fas fa-trash-alt"></i></button>
          <button class="btn btn-primary" (click)="updateChannel(adminConsoleService.channels[i], i)"><i
              class="fas fa-sync-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>