.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .container{
      max-height: 100%;
  }
  

  .form-section{
      padding: 5% 6%;
      margin-top: 30%;
  }