<div class="container">
  <div class="row justify-content-center middle">
    <div class="col-10 col-md-8 col-lg-6">
      <form class="form-section border border-primary rounded" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h3>Login For Administrator</h3>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email" #emailIn="ngModel"  required placeholder="Enter email">
          <div class="alert alert-danger" [hidden]="emailIn.valid || emailIn.pristine">
            Invalid Email 
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" [(ngModel)]="passw" #passIn="ngModel" required placeholder="Enter password">
          <div class="alert alert-danger" [hidden]="passIn.valid || passIn.pristine">
            Invalid Password
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
      <div class="alert alert-danger" [hidden]="!loginError">
        Email or Password invalid. Try again. 
      </div>
    </div>
  </div>
</div>