<div class="row">
    <div class="col-10 col-sm-6 col-md-4 col-lg-3" *ngFor="let channel of service.channels; let i=index">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">{{service.channels[i].name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{service.channels[i].uname}}</h6>
          <p class="card-text">Members: {{service.channels[i].members}} </p>
          <button class="btn btn-dark"  (click)="goTo(channel)">Enter</button>
        </div>
      </div>
    </div>
  </div>