<nav class="navbar navbar-light bg-dark row justify-content-between">
    <div class="col-auto text-white">
      <h5>CHATROOM</h5>
    </div>
    <div class="col-auto">
      <img [routerLink]="[ '/home']" src="../assets/LOGO_FINAL.png" width="150" height="40" class="align-top" alt="GLO-WARE LOGO">
    </div>
</nav>

<router-outlet></router-outlet>
